/* You can add global styles to this file, and also import other style files */

html, body { height: max-content; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media screen and (max-width: 460px) {
    .mat-card{
     margin: 0 16px 16px 16px;
    }
}
